/* You can add global styles to this file, and also import other style files */
*{
  padding: 0;
  margin: 0;
}

.container{
  header{
    background: #3aafda;

    line-height: 50px;
    height: 50px;
    text-align: center;
  }
  .add-project{
    position: absolute;
    right: 2%;
    color: white;
    font-size: 32px;
    text-decoration: none;
  }
  max-width: 98%;
  margin: 0 auto;
  .header{
    color: white;
    font-size: 32px;
  }
  .category-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    .category-field{
      flex: 27%;
      padding: 1% 2%;
      margin-top: 10px;
      max-width: 27%;
      box-shadow: 0 0 10px lightgray;
      border: 1px solid lightgray;
      border-radius: 5%;
      .mat-checkbox-inner-container{
        border: 1px dashed darkgray;
      }
    }
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
